@model  Sabzishop.Models.Products.Products 
	<div class="breadcrumbs_area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb_content">
						<ul>
							<li><a asp-action="Index">خانه</a></li>
							<li>جزئیات محصول</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--breadcrumbs area end-->

	<!--product details start-->
	<div class="product_details mt-60 mb-60">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="product-details-tab">
						<div id="img-1" class="zoomWrapper single-zoom">
							<a href="#">
								<img id="zoom1" src="@($"/assets/img/product/product{Model.id}.jpg")" data-zoom-image="@($"/assets/img/product/product{Model.id}.jpg")" alt="big-1">
							</a>
						</div>

					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="product_d_right">
						<form action="#">

							<h1>@Model.name</h1>
							
							<div class=" product_ratting">


							</div>
							<div class="price_box">
@if (Model.descountid == 0)
{
    <span class="current_price">@Model.price تومان</span>
 

}
else
{
    <span class="current_price ">@Model.descount.pricedes تومان</span>
    <span class="old_price">@Model.price</span>
   

}
							</div>
							<div class="product_desc">
								<p>@Model.discriptio </p>
							</div>

							<div class="product_variant quantity">

								<button class="button" type="submit">افزودن به سبد</button>

							</div>


						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product details end-->

	<!--product info start-->
	<div class="product_d_info mb-60">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="product_d_inner">
						<div class="product_info_button">
							<ul class="nav" role="tablist">
								<li>
									<a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">توضیحات</a>
								</li>

							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="info" role="tabpanel">
								<div class="product_info_content">
									<p>@Model.discriptio</p>
								</div>
							</div>

                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--product info end-->

	<!--product area start-->
@*	<section class="product_area related_products">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>محصولات مرتبط	</h2>
					</div>
				</div>
			</div>
			<div class="product_carousel product_column5 owl-carousel">
				<article class="single_product">
					<figure>
						<div class="product_thumb">
							<a class="primary_img" href="product-details.html"><img src="assets/img/product/product1.jpg" alt=""></a>
							<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product2.jpg" alt=""></a>
							<div class="label_product">
								<span class="label_sale">فروش</span>
							</div>
							<div class="action_links">
								<ul>
									<li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
									<li class="quick_button">
										<a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
									</li>
								</ul>
							</div>
							<div class="add_to_cart">
								<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
							</div>
						</div>
						<figcaption class="product_content">
							<div class="price_box">
								<span class="old_price">86,000 تومان</span>
								<span class="current_price">79,000 تومان</span>
							</div>
							<h3 class="product_name"><a href="product-details.html">گوشی موبایل شیائومی مدل MI 9 Lite</a></h3>
						</figcaption>
					</figure>
				</article>
				<article class="single_product">
					<figure>
						<div class="product_thumb">
							<a class="primary_img" href="product-details.html"><img src="assets/img/product/product3.jpg" alt=""></a>
							<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product4.jpg" alt=""></a>
							<div class="label_product">
								<span class="label_sale">فروش</span>
							</div>
							<div class="action_links">
								<ul>
									<li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
									<li class="quick_button">
										<a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
									</li>
								</ul>
							</div>
							<div class="add_to_cart">
								<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
							</div>
						</div>
						<figcaption class="product_content">
							<div class="price_box">
								<span class="old_price">86,000 تومان</span>
								<span class="current_price">79,000 تومان</span>
							</div>
							<h3 class="product_name"><a href="product-details.html">هندزفری بی سیم شیائومی مدل 2019</a></h3>
						</figcaption>
					</figure>
				</article>
				<article class="single_product">
					<figure>
						<div class="product_thumb">
							<a class="primary_img" href="product-details.html"><img src="assets/img/product/product5.jpg" alt=""></a>
							<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product6.jpg" alt=""></a>
							<div class="label_product">
								<span class="label_sale">فروش</span>
							</div>
							<div class="action_links">
								<ul>
									<li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
									<li class="quick_button">
										<a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
									</li>
								</ul>
							</div>
							<div class="add_to_cart">
								<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
							</div>
						</div>
						<figcaption class="product_content">
							<div class="price_box">
								<span class="old_price">86,000 تومان</span>
								<span class="current_price">79,000 تومان</span>
							</div>
							<h3 class="product_name"><a href="product-details.html">هدفون گیمینگ حرفه ای سونی SM5000</a></h3>
						</figcaption>
					</figure>
				</article>
				<article class="single_product">
					<figure>
						<div class="product_thumb">
							<a class="primary_img" href="product-details.html"><img src="assets/img/product/product7.jpg" alt=""></a>
							<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product8.jpg" alt=""></a>
							<div class="label_product">
								<span class="label_sale">فروش</span>
							</div>
							<div class="action_links">
								<ul>
									<li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
									<li class="quick_button">
										<a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
									</li>
								</ul>
							</div>
							<div class="add_to_cart">
								<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
							</div>
						</div>
						<figcaption class="product_content">
							<div class="price_box">
								<span class="old_price">86,000 تومان</span>
								<span class="current_price">79,000 تومان</span>
							</div>
							<h3 class="product_name"><a href="product-details.html">دوربین فیلم برداری 360 درجه سامسونگ</a></h3>
						</figcaption>
					</figure>
				</article>
				<article class="single_product">
					<figure>
						<div class="product_thumb">
							<a class="primary_img" href="product-details.html"><img src="assets/img/product/product9.jpg" alt=""></a>
							<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product10.jpg" alt=""></a>
							<div class="label_product">
								<span class="label_sale">فروش</span>
							</div>
							<div class="action_links">
								<ul>
									<li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
									<li class="quick_button">
										<a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
									</li>
								</ul>
							</div>
							<div class="add_to_cart">
								<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
							</div>
						</div>
						<figcaption class="product_content">
							<div class="price_box">
								<span class="old_price">86,000 تومان</span>
								<span class="current_price">79,000 تومان</span>
							</div>
							<h3 class="product_name"><a href="product-details.html">تلویزیون هوشمند 85 اینچ ال جی سری 8</a></h3>
						</figcaption>
					</figure>
				</article>
				<article class="single_product">
					<figure>
						<div class="product_thumb">
							<a class="primary_img" href="product-details.html"><img src="assets/img/product/product11.jpg" alt=""></a>
							<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product12.jpg" alt=""></a>
							<div class="label_product">
								<span class="label_sale">فروش</span>
							</div>
							<div class="action_links">
								<ul>
									<li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
									<li class="quick_button">
										<a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
									</li>
								</ul>
							</div>
							<div class="add_to_cart">
								<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
							</div>
						</div>
						<figcaption class="product_content">
							<div class="price_box">
								<span class="old_price">86,000 تومان</span>
								<span class="current_price">79,000 تومان</span>
							</div>
							<h3 class="product_name"><a href="product-details.html">دسته بازی کنسول PS4 Gaming Controller</a></h3>
						</figcaption>
					</figure>
				</article>
				<article class="single_product">
					<figure>
						<div class="product_thumb">
							<a class="primary_img" href="product-details.html"><img src="assets/img/product/product4.jpg" alt=""></a>
							<a class="secondary_img" href="product-details.html"><img src="assets/img/product/product5.jpg" alt=""></a>
							<div class="label_product">
								<span class="label_sale">فروش</span>
							</div>
							<div class="action_links">
								<ul>
									<li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
									<li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
									<li class="quick_button">
										<a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
									</li>
								</ul>
							</div>
							<div class="add_to_cart">
								<a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
							</div>
						</div>
						<figcaption class="product_content">
							<div class="price_box">
								<span class="old_price">86,000 تومان</span>
								<span class="current_price">79,000 تومان</span>
							</div>
							<h3 class="product_name"><a href="product-details.html">گوشی موبایل شیائومی مدل MI 9 Lite</a></h3>
						</figcaption>
					</figure>
				</article>
			</div>
		</div>
	</section>*@
	<!--product area end-->

	<!--product area start-->

	<!-- modal area end-->




