@model List<Sabzishop.Models.Discount.Descount>;	
<!--product area start-->
	<section class="product_area mb-46">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section_title">
						<h2>پیشنهاد های ویژه</h2>
					</div>
				</div>
			</div>
			<div class="product_carousel product_column5 owl-carousel">
@foreach (var item in Model)
{
    <article class="single_product">
        <figure>
            <div class="product_thumb">
                <a class="primary_img" href="product-countdown.html"><img src="~/assets/img/product/@($"product{item.Products.id}.jpg")" alt=""></a>
                <a class="secondary_img" href="product-countdown.html"><img src="~/assets/img/product/@($"product{item.Products.id}.jpg")" alt=""></a>
                <div class="label_product">
                    <span class="label_sale">فروش</span>
                </div>
                <div class="action_links">
                    <ul>
                        <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        
                    </ul>
                </div>
                <div class="add_to_cart">
                    <a href="cart.html" title="افزودن به سبد">افزودن به سبد</a>
                </div>
                <div class="product_timing">
                    <div data-countdown="@($"{item.enddes.Year}/{item.enddes.Month}/{item.enddes.Day}")"></div>
                </div>
            </div>
            <figcaption class="product_content">
                <div class="price_box">
                    <span class="old_price">@item.Products.price</span>
                    <span class="current_price">@item.pricedes</span>
                </div>
                <h3 class="product_name"><a asp-route-id="@item.id" asp-controller="Home" asp-action="Details">@item.Products.name</a></h3>
            </figcaption>
        </figure>
    </article>
}

			</div>
		</div>
	</section>
	<!--product area end-->