@model List< Sabzishop.Models.Products.Products> ;
	<section class="product_area mb-46">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 col-md-12">
					<div class="product_left_area">
						<div class="section_title">
							<h2>موبایل و تبلت</h2>
						</div>
						<div class="product_carousel product_column4 owl-carousel">
@foreach (var item in Model)
{

    <article class="single_product">
        <figure>
            <div class="product_thumb">
                <a class="primary_img" href="product-details.html"><img src="@($"/assets/img/product/product{item.id}.jpg")" alt=""></a>
                <div class="label_product">
                    <span class="label_sale">فروش</span>
                </div>
                <div class="action_links">
                    <ul>
                        <li class="wishlist"><a href="wishlist.html" title="افزودن به علاقه‌مندی‌ها"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li class="compare"><a href="#" title="مقایسه"><span class="ion-levels"></span></a></li>
                        <li class="quick_button">
                            <a href="#" data-toggle="modal" data-target="#modal_box" title="مشاهده سریع"> <span class="ion-ios-search-strong"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="add_to_cart">
                    <a  asp-action="cartshop" asp-route-user="@User.Identity.Name" asp-route-kala="@item.id"  title="افزودن به سبد">افزودن به سبد</a>
                </div>
            </div>
            <figcaption class="product_content">
                <div class="price_box">
@if (item.descountid == 0)
{
     
    <span class="current_price">@item.price تومان</span>
}

else
{
    <span class="old_price"> @item.price تومان</span>
    <span class="current_price">@item.descount.pricedes تومان</span>
}
                </div>
                <h3 class="product_name"><a  asp-action="Details" asp-route-id="@item.id">@item.name</a></h3>
            </figcaption>
        </figure>
    </article>
}

						</div>
					</div>
				</div>

			</div>
		</div>
	</section>